@import "tailwindcss";


@theme {
  --color-primary: #181a2a; 
  --color-secondary: #4b6bfb; 
  --color-acent: #e8e8ea; 


}




@import url(https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

body {
    font-family: "Work Sans", sans-serif;
}